<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Character</title>
    <link rel="stylesheet" href="/css/ChooseCharacter">
</head>
<body>
    <h1>Chosse a Character!</h1>
    <div>
            <h2>Character 1</h2>
            <h2>Character 2</h2>
            <h2>Character 3</h2>
    </div>
</body>
</html>