<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Bamba</title>
    <link rel="stylesheet" href="/play.css">
</head>
<body>
    <div>
        <h1>Aqui terá as opções para criar conta ou entrar com uma existente</h1>
        <a href="/" class="but"><button>Voltar</button></a>
    </div>
</body>
</html>