<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Bamba</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div>
        <a href="/" class="but"><button>Voltar</button></a>
        <a href="/Create-Account"><button>Create Account</button></a>
        <input type="text">
        <a href="/choose-character"><button>Sign In</button></a>
    </div>
</body>
</html>